.each-slide {
  position: relative;
  width: 100%;
  height: 550px; /* Set the height of each slide container */
  float: left;
}

.each-slide > div {
  background-size: cover; /* Ensure that the entire background image fits within the container */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.each-slide > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 0.5 opacity */
  backdrop-filter:blur(2px);
}
.slide-title {
  position: absolute;
  top: 20%; /* Adjust as needed */
  left: 4%; /* Adjust as needed */
  z-index: 999;
  border: 2px;
}
.slide-title >p{
  font-size: large;
  color:rgb(255, 255, 255,0.5);
}
.slide-title >h1{
  color:rgb(255, 255, 255,0.8);
  margin-bottom: 10px;
}

.assets{
  position: absolute;
  left:60%;
  width: 40%;
  height: 550px;
  top:60px;
}
