/*.login:hover {
    
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
    z-index: 999;
  }*/

.login{
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    background-image: url('gradient.jpg');
    backdrop-filter:blur(20px) brightness(200%);
    width: 100%;
    height: 550px;
}
form{
    margin-top: 10%;
}
h2{
    color: aliceblue;
    text-align: center;
}
.space{
    margin-top: 40px;
}
.form-group{
    display: grid;
    margin-bottom: 10px;
    margin-left: 30%;
}
.form-group>label{
    margin-bottom: 15px;
}
.form-controll{
    color: aliceblue;
    width: 250px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0);
}
.btn_custom{
    margin-top:20px;
    margin-left: 245px;
    padding: 8px 20px;
    border-radius: 8px ;
    color: aliceblue;
    background-color: rgb(25, 168, 235);
}
.btn_custom:hover{
    background-color: rgb(25, 168, 235);
}

.custom-danger{
    text-align: center;
    width: 240px;
    height:40px;
    margin-left: 30%;
    margin-top: 20px;
    padding-top: 10px;
    background-color: rgb(248, 169, 169);
    border-radius: 5px ;
    border: 0.5px rgb(112, 20, 20) solid;
    color: rgb(112, 20, 20);
}